        body {
            background-color: #191970;
            font-family: Space Mono;
            color: whitesmoke;
        }

        .camera-box{
            border: 7px solid whitesmoke;
            display: flex;
            height: 500px;
            padding-left: 3px;
            overflow: auto;
        }
        
        h1 {
            font-family: Space Age;
            justify-content: center;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            text-align: center;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
            font-size: 4rem;
            margin-right: 4%;
        }

        .hypersleep-text{
            font-family: Space Mono;
            color: whitesmoke;
        }
        
        
        h2 {
            text-align: center;
            margin-left: 30%;
        }
        
        .frame {
            display: flex;
            justify-content: 'center';
            width: 100%;
            margin: 120px 0;
        }
        
        .container {
            /* display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    flex-flow: row nowrap; */
            margin-top: 0%;
            width: 50%;
        }
        
        .left-side {
            width: 25%;
            margin-top: 5%;
            overflow: hidden;
        }
        
        .manual-control {
            margin-bottom: -7%;
            margin-left: 14%;
        }
        
        .right-side {
            width: 25%;
            margin-top: 300px;
        }
        
        .sub-container1 {
            width: 50%;
            position: relative;
        }
        
        .sub-container2 {
            width: 40%;
            position: relative;
            overflow: auto;
        }
        
        .mission-header {
            margin-top: 2%;
            font-size: 24px;
            text-align: center;
        }
        
        .mission-box {
            border: 7px solid whitesmoke;
            display: flex;
            height: 500px;
            padding-left: 3px;
            overflow: auto;
        }
        h4{
            text-align: center;
        }
        .view {
            margin-left: inherit;
            width: 125%;
            height: 500px;
        }
        
        .my-img {
            width: 100%;
            height: 500px;
            margin-left: -0.1%;
        }

        .space-frame{
            width: 100%;
            width: 100%;
            margin-left: -4px;

        }
        
        .video {
            width: 100%;
            height: 99%;
            margin-left: -4px;
            margin-top: 1px;
        }
        
        .button_control {
            height: 50px;
            width: 45px;
            /* margin-top: 0%; */
            margin-right: 1%;
            border-radius: 18px;
            padding: 13px;
            z-index: 2;
            border-width: 6px;
        }
        
        .second-switches {
            margin-top: 20px;
        }
        
        .buttons {
            position: relative;
            /* top: 135px; */
            margin-left: 20px;
            /* top: 50px; */
        }
        
        .buttons2 {
            position: relative;
            /* top: 135px; */
            margin-left: 20px;
            /* margin-top: -75px; */
            margin-top: 10px;
        }
        
        .buttons3 {
            position: relative;
            /* top: 135px; */
            margin-left: 20px;
            /* margin-top: 9px; */
            margin-top: 10px;
        }
        .all-buttons {
            margin-left: 6%;
}
        
        html,
        body {
            margin: 0;
            padding: 0;
        }
        
        #defaultCanvas0 {
            border: 5px solid whitesmoke;
            margin-top: -414px;
            margin-left: 2%;
            margin-right: 5%;
            margin-bottom: 50px;
        }
        
        .slider1 {
            appearance: none;
            background: hsl(214, 2%, 34%);
            width: 148px;
            height: 35px;
        }
        
        .slider2 {
            appearance: none;
            background: hsl(214, 2%, 34%);
            width: 148px;
            height: 35px;
            margin-top: 20px;
        }
        
        .slider3 {
            appearance: none;
            background: hsl(214, 2%, 34%);
            width: 148px;
            height: 35px;
            margin-top: 20px;
        }
        
        .slider4 {
            appearance: none;
            background: hsl(214, 2%, 34%);
            width: 148px;
            height: 35px;
            margin-top: 20px;
        }
        
        .all-sliders {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-right: 30%;
            margin-top: -57%;
        }
        
        .slider1::-webkit-slider-thumb {
            -webkit-appearance: none;
            /* Override default look */
            appearance: none;
            width: 30px;
            /* Set a specific slider handle width */
            height: 30px;
            /* Slider handle height */
            background: #add8e6;
            /* Green background */
            cursor: pointer;
            /* Cursor on hover */
            border-radius: 15px;
        }
        
        #views-button {
            margin-left: 45%;
        }
        
        .slider2::-webkit-slider-thumb {
            -webkit-appearance: none;
            /* Override default look */
            appearance: none;
            width: 30px;
            /* Set a specific slider handle width */
            height: 30px;
            /* Slider handle height */
            background: #add8e6;
            /* Green background */
            cursor: pointer;
            /* Cursor on hover */
            border-radius: 15px;
        }
        
        .slider3::-webkit-slider-thumb {
            -webkit-appearance: none;
            /* Override default look */
            appearance: none;
            width: 30px;
            /* Set a specific slider handle width */
            height: 30px;
            /* Slider handle height */
            background: #add8e6;
            /* Green background */
            cursor: pointer;
            /* Cursor on hover */
            border-radius: 15px;
        }
        
        .slider4::-webkit-slider-thumb {
            -webkit-appearance: none;
            /* Override default look */
            appearance: none;
            width: 30px;
            /* Set a specific slider handle width */
            height: 30px;
            /* Slider handle height */
            background: #add8e6;
            /* Green background */
            cursor: pointer;
            /* Cursor on hover */
            border-radius: 15px;
        }
        
        .all-switches {
            margin-left: 56px;
            margin-top: 30px;
        }
        
        .read-header {
            font-size: 24px;
        }
        
        .data-box {
            border: 7px solid whitesmoke;
            display: flex;
            height: 400px;
            padding-left: 3px;
            font-size: 21px;
        }
        
        .read-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            text-align: center;
            margin-top: 5%;
        }
        
        .manual-control {
            font-size: 24px;
        }
        
        .game-header {
            margin-top: -4%;
            margin-left: 34%;
            font-size: 24px;
        }
        
        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }
        
        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }
        
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }
        
        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }
        
        input:checked+.slider {
            background-color: #2196F3;
        }
        
        input:focus+.slider {
            box-shadow: 0 0 1px #2196F3;
        }
        
        input:checked+.slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }
        
        .all-sliders {}
        
        .slider.round {
            border-radius: 34px;
        }
        
        .slider.round:before {
            border-radius: 50%;
        }
        /* Rounded sliders */
        
        .slider.round {
            border-radius: 34px;
        }
        
        .slider.round:before {
            border-radius: 50%;
        }
        
        .rocket-button {
            margin-top: 6%;
            margin-left: 20px;
        }
        
        .button_control1 {
            height: 50px;
            width: 100px;
            margin-top: 1%;
            /* margin-right: 14%; */
            border-radius: 18px;
            padding: 13px;
            z-index: 2;
            border-width: 6px;
            margin-left: 13%;
        }
        .button-seperate{
            margin-top: 29px;
        }

        .button_control2 {
            height: 50px;
            width: 100px;
            margin-top: 1%;
            /* margin-right: 14%; */
            border-radius: 18px;
            padding: 13px;
            z-index: 2;
            border-width: 6px;
            margin-left: 3%;
        }
        
        .seperation-words{
            text-align: center;
        }
        .rocket-insertion {
            margin-bottom: 0px;
        }
        
        .shuttle-gif {
            border: 3px solid whitesmoke;
            width: 44%;
            margin-top: 4%;
            position: relative;
            left: 31%;
        }
        /* #manual-control {}
         */
        
        @media screen and (max-width:1140px) {
            .read-container {
                display: block;
            }
            #defaultCanvas0 {
                margin-top: -500px;
                margin-left: 20%;
            }
            .sub-container2 {
                position: 'relative';
                top: 450px;
                margin: 0 auto;
            }
        }
        
        #asteroid-button {
            display: none;
        }
        
        #data-button {
            display: none;
        }

        .overlay {
            height: 100%;
   
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
           
            background-color: rgba(0,0,0, 0.9);
            overflow-x: hidden;
            transition: 0.5s;
          }
          
          .overlay-content {
            position: relative;
            top: 25%;
            width: 100%;
            text-align: center;
            margin-top: 30px;
          }
          
          .overlay a {
            padding: 8px;
            text-decoration: none;
            font-size: 36px;
            color: #818181;
            display: block;
            transition: 0.3s;
          }
          
          .overlay a:hover, .overlay a:focus {
            color: #f1f1f1;
          }
          
          .overlay .closebtn {
            position: absolute;
            top: 20px;
            right: 45px;
            font-size: 60px;
          }
          
          @media screen and (max-height: 450px) {
            .overlay a {font-size: 20px}
            .overlay .closebtn {
            font-size: 40px;
            top: 15px;
            right: 35px;
            }
          }
.logo{
            max-width: 15%;
            margin-left: 28%;
            height: auto;
            flex: 1;
}
